</div>
<div style="margin: 2rem;"></div>
<!-- Footer -->
<footer class="page-footer child3 font-small grey darken-4">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <span>EJS Blog</span>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body>

</html>