<% include partials/header %>

<h1> Our Mission </h1>

<p> EJS BLOG is web App designed for everyone, emphasizing accessibility, performance, security, and ease of use. We
    believe
    great Web Apps should work with minimum set up, so you can focus on sharing your story, product, or services freely.
    The
    basic EJS Blog App is simple and predictable so you can easily get started. </p>
<p>Let people hear your thoughts, views and experiences through your blog posts. Its like your daily journal</p>
<p>Try the EJS for free today !</p>

<% include partials/footer %>